@keyframes flicker {
    0% {
        opacity: 1.0;
    }
    10% {
        opacity: 1.0;
        color: yellow;
    }
    10.001% {
        opacity: 0.5;
        color: orange;
    }
    15% {
        opacity: 1.0;
    }
    45% {
        opacity: 1.0;
        color: yellow;
        font-weight: 400;
    }
    45.001% {
        opacity: 0.25;
        font-weight: 900;
    }
    60% {
        opacity: 1.0;
    }
    70% {
        color: yellow;
    }
    70.001% {
        color: orange;
    }
    77.5% {
        color: yellow;
        font-weight: 400;
    }
}

html,
body {
    background-color: #141400;
    color: yellow;
}

a:hover {
    text-shadow: 0px 0px 32pt yellow;
}

#field {
    box-shadow: 0px 0px 32pt #444400;
    text-shadow: 0px 0px 32pt yellow;
}

#player {
    text-shadow: 0px 0px 32pt yellow;
}


/*html,
body {
    background-color: #141400;
    color: yellow;
}

a {
    color: yellow;
}*/