@keyframes hover {
    0% {
        font-weight: 400;
    }
    10% {
        font-weight: 500;
    }
    20% {
        font-weight: 600;
    }
    30% {
        font-weight: 700;
    }
    40% {
        font-weight: 800;
    }
    50% {
        font-weight: 900;
    }
    60% {
        font-weight: 800;
    }
    70% {
        font-weight: 700;
    }
    80% {
        font-weight: 600;
    }
    90% {
        font-weight: 500;
    }
}

html,
body {
    font-family: monospace;
    width: 100vw;
    height: 100vh;
    display: grid;
    position: fixed;
    transition: all 500ms;
}

body {
    filter: blur(0.5pt);
    transition: all 500ms;
}

#field {
    font-size: 16pt;
    margin: auto;
    animation: flicker 2s linear 0s infinite normal;
    transform: rotateX(15deg) rotateY(15deg) rotateZ(1deg);
    transform-origin: center center center;
    padding: 8pt;
    transition: all 500ms;
}

#player {
    color: white;
    background-color: #141414;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    animation: hover 0.25s linear 0s infinite alternate;
    color: white;
}

a:hover::before {
    content: "> ";
}

a:hover::after {
    content: " <";
}